



ul#slideshow {
	list-style-type: none;
}


/* Listen */
ul#news {
}

ul#portfolio li img{
}

.content-wrapper{
	line-height: 1.5;
}

h1 {
	font-size: 2em;
	color:#000;
}
h2 {
	padding-top: 10px;
	color:#000;
}


.fade{
}

.fade p{
	
}


