html {
  margin:20px;
}
body {
  font-family:Lato, sans-serif;
  max-width:700px;
  margin:auto;
  background: white;
}
h1 {
  margin: 0;
  padding: 0;
  color: black;
}
h1 a:link, h1 a:visited {
  color: #2c3e50; /* DARK BLUE */
  text-decoration: none;
}


a:link, a:visited {
  color: #1ABC9C
}
nav a {
  text-decoration:none;
}
dt {
  font-weight:bold;
  margin-top:10px;
}
dd {
  margin-top:10px;
  padding-bottom:10px;
}
nav ul {
  list-style-type:none;
  margin:0;
  padding:0;
  line-height:2em;
}
nav ul li {
  display:inline-block;
}
nav ul li a {
  padding:5px 10px;
  border-radius:5px;
}
nav ul li a:hover, nav ul li a:active {
  background:#eee;
}
nav a.active {
  font-weight:bold;
  color:black;
  background:#eee;
}
img {
  max-width:100%;
}
footer {
  border-top:1px solid #eee;
}
