/* FONTS */

@font-face {
    font-family: 'Apercu-Italic';
    src: url('../fonts/apercu-italic.woff') format('woff');
}
@font-face {
    font-family: 'ApercuProRegular';
    src: url('../fonts/apercu_regular_pro.eot');
    src: url('../fonts/apercu_regular_pro.eot') format('embedded-opentype'),
         url('../fonts/apercu_regular_pro.woff') format('woff'),
         url('../fonts/apercu_regular_pro.ttf') format('truetype'),
         url('../fonts/apercu_regular_pro.svg#ApercuProRegular') format('svg');
}
@font-face {
    font-family: 'AkzidenzGrotesk-Bold';
    src: url('../fonts/AkzidenzGrotesk-Bold.eot');
    src: url('../fonts/AkzidenzGrotesk-Bold.eot') format('embedded-opentype'),
         url('../fonts/AkzidenzGrotesk-Bold.woff') format('woff'),
         url('../fonts/AkzidenzGrotesk-Bold.ttf') format('truetype'),
         url('../fonts/AkzidenzGrotesk-Bold.svg#AkzidenzGrotesk-Bold') format('svg');
}
@font-face {
    font-family: 'ApercuBold';
    src: url('../fonts/apercubold.eot');
    src: url('../fonts/apercubold.eot') format('embedded-opentype'),
         url('../fonts/apercubold.woff') format('woff'),
         url('../fonts/apercubold.ttf') format('truetype'),
         url('../fonts/apercubold.svg#ApercuBold') format('svg');
}
/* RESET */
p {
  margin: 0;
  padding: 0;
  z-index: 10;
  position: relative;
}

/* MAIN STYLES */

html {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  font-family:'Apercu', sans-serif;
  margin: 0;
  background: white;
  height: 100%;
}
h1 {
  font-family: 'Apercu', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  color: black;
}
h1 a:link, h1 a:visited {
  color: #2c3e50; /* DARK BLUE */
  text-decoration: none;
}

a:link, a:visited {
  color: #1ABC9C
}
nav a {
  text-decoration:none;
}
dt {
  font-weight:bold;
  margin-top:10px;
}
dd {
  margin-top:10px;
  padding-bottom:10px;
}

/* TOP BAR NAVIGATION */
header {
  position: relative;

  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;

  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;

  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;

  width: 100%;
  background: white;
  top: 0; 
  left: 0;
  z-index: 55;
}
  header section {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;

    flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;

    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;

    min-width: 80%;
    max-width: 80%;
  }
  header h1 {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;

    flex: 1 0 0;
    justify-content: flex-start;
    color: black;
    margin: 10px 10px 10px 0;
    min-width: 90px;
    font-size: 1.3em;
    /*background: lime;*/
  }
    /* LOGO SVG */
    header h1 a {
      position: relative;
      max-width: 100%;
      display: block;

      display: flex;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;

      align-items: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
    }

header nav {
    overflow: visible;

    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;

    flex: 1 0 0;
    justify-content: space-around;
    align-items: flex-start;
  }
    header nav ul {
      width: 100%;
      margin: 0;
      padding: 0;

      display: flex;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;

      justify-content: space-between;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
    }
    header li {
      font-size: 14px;
      color: black;
      font-family: 'ApercuBold','Helvetic Neue', sans-serif;
      font-weight: bold;
      margin-top: 18px;
      cursor: default;
      color: #2c3e50;

      display: flex;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;

      align-items: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;

      -moz-box-sizing: border-box; 
      -webkit-box-sizing: border-box; 
      box-sizing: border-box;
    }
    header li a {
      color: #2c3e50;
      text-decoration: none;
    }
    nav li a:hover {
      text-decoration: underline;
    }
    nav li.dropdown { 
        position: relative; 
        display: inline-block;
        background-color: white;
        overflow: visible;
        z-index: 50;

        align-items: flex-start;
        -webkit-align-items: flex-start;
        -moz-align-items: flex-start;
        -ms-align-items: flex-start;
    }
      nav li.dropdown.about { min-width:60px; max-width: 60px;}
      nav li.dropdown.classes { min-width:65px; max-width: 65px;}
      nav li.dropdown.people-nav { min-width:55px; max-width: 55px;}
      nav li.dropdown.participate { min-width: 85px; max-width: 85px; display: inline-block;}
      nav li.dropdown.connect { min-width:40px; max-width: 40px;}
      nav li.dropdown.more { min-width:42px; max-width: 42px;}
        
        nav li.dropdown.home:hover { min-width: 55px; max-width: 55px; display: inline-block;}
        nav li.dropdown.about:hover { min-width: 60px; max-width: 60px; display: inline-block;}
        nav li.dropdown.classes:hover { min-width: 65px; max-width: 65px; display: inline-block;}
        nav li.dropdown.people-nav:hover { min-width: 55px; max-width: 55px; display: inline-block;}
        nav li.dropdown.participate:hover { min-width: 85px; max-width: 85px; display: inline-block;}
        nav li.dropdown.connect:hover { min-width: 40px; max-width: 40px; display: inline-block;}
        nav li.dropdown.more:hover { min-width: 42px; max-width: 42px; display: inline-block;}
        
      nav li.dropdown a:first-child {
        display: flex;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;

        flex: 1 0 0;
        -webkit-flex: 1 0 0;
        -moz-flex: 1 0 0;
        -ms-flex: 1 0 0;
      }
    nav li.dropdown:hover {
        background-color: white;
        z-index: 50;

        display: flex;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        
        flex-direction: column;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
    }
      nav li.dropdown:hover a:first-child {
        margin-top: 0;

        display: flex;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
      }
      nav li.dropdown:hover div a {
        margin-top: 5px;

        display: flex;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;

        flex: 1 0 0;
        -webkit-flex: 1 0 0;
        -moz-flex: 1 0 0;
        -ms-flex: 1 0 0;
      }
    nav li.dropdown div {
      background-color: white;
      padding-right: 5px;
      display: none;
    }
    nav li.dropdown:hover div {
      position: absolute;
      background-color: white;
      padding: 5px;
      margin-left: -5px;

      display: flex;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;

      flex-direction: column;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
    }
      nav li.dropdown.participate:hover div {
        position: absolute;
        min-width: 90px;
        max-width: 90px;
      }

/* CONTAINER */
.container {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  z-index: 10;
  width: 100%;
}
.container.full-height {
  height: 100%;
}

/* INTRO IMAGE */

    .splash-intro-img {
      background-image: url("../img/pushPixel_splash.jpg");
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 100%;
      height: 100%;
      background-color: white;
      z-index: 0;
      overflow: hidden;

      background-size: auto 100%, auto;
      background-position:center; 
      background-repeat: no-repeat;

      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    /* INTRO IMAGE */
    .intro {
      position: relative;
      display: block;
      height: 100%;
    }
    .intro-image {
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
      width: 70%;
      z-index: 0;
    }
    .intro-continue {
      position: absolute;
      width: 60px;
      height: 60px;
      background-color: white;
      margin: 0 auto;
      bottom: 15px;
      left: 0;
      right: 0;
      z-index: 25;
      color: black;
      text-align: center;
      font-size: 3.5em;
      font-weight: bold;
      cursor: pointer;
    }

/* INTRO INFO + MOTTO  */
.intro-1 { font-family:'Helvetica Neue', sans-serif; display: block; padding: 10px; width: 40%;}
.intro-2 { font-family:'Helvetica Neue', sans-serif; display: none; padding: 10px; width: 40%;}
.intro-3 { font-family:'Helvetica Neue', sans-serif; display: none; padding: 10px; width: 45%;}

section.intro {
  height: 100%;
  z-index: 25;

  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;

  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;

  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
}
  .intro-info {
    font-size: 24px;
    color: #2c3e50;
    background-color: white;
    z-index: 25;
  }
    .intro-info span {
      font-style: italic;
    }

/* CURRENT SECTION*/
  .nav-current-tab {
    text-decoration: underline;
  }
  .current-tab {
    position: relative;
    width: 100%;
    height: 100px;
    margin-top: 50px;
    font-family: 'ApercuBold','Helvetica Neue', sans-serif;
    font-size: 1.5em;
    color: #2c3e50;

    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
  }
    .current-tab .centering-wrapper {
      max-width: 80%;
      min-width: 80%;
    }
    .centering-wrapper-row {
      width: 80%;

      display: flex;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;

      justify-content: space-between;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
    }
    .centering-wrapper-row article.social-icons {
      justify-content: flex-end;
      -webkit-justify-content: flex-end;
      -moz-justify-content: flex-end;
      -ms-justify-content: flex-end;
    }
    .space-between.centering-wrapper-row {
      justify-content: space-between;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
    }
.about-info {
  width: 80%;
}
  .about-info h4 {
    margin-top: 20px;
    margin-bottom: 10px;
  }

.p-wrapper {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;

    flex: 1 0 0;
    -webkit-flex: 1 0 0;
    -moz-flex: 1 0 0;
    -ms-flex: 1 0 0;

    flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
}
  .p-wrapper p {
    margin-top: 0;
    margin-left: 10px;
  }
  .p-wrapper p:nth-child(1) {
    margin-left: 0;
  }
  .mission.p-wrapper {
    font-family: 'Apercu', 'Helvetica Neue', sans-serif;
    font-size: .9em;

    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
  }
    .mission.p-wrapper:first-child {
      margin-right: 10px;
    }
      .mission.p-wrapper:first-child p {
        margin-right: 20px;
      }
  .mission.p-wrapper p {
    margin-left: 0;
    width: auto;
  }
  .mission-image {
    width: 100%;
    margin-top: 20px;
  }

  /* FAQ */
  .faq.centering-wrapper {
    width: 80%;
  }
  .faq.p-wrapper {
    flex: 1 0 0;
    -webkit-flex: 1 0 0;
    -moz-flex: 1 0 0;
    -ms-flex: 1 0 0;

    flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
  }
    .faq.p-wrapper div {æ
      display: flex;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;

      flex: 1 0 0;
      -webkit-flex: 1 0 0;
      -moz-flex: 1 0 0;
      -ms-flex: 1 0 0;

      flex-direction: column;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
    }
    .faq.p-wrapper div:first-child {
      margin: 0 15px 0 0;
    }
    .faq.p-wrapper div:first-child > * {
      margin-right: 5px;
    }
    .faq.p-wrapper div p{
      width: auto;
      margin-left: 0;
      font-size: .9em;
      font-family: 'Apercu';
      color: #2c3e50;
    }
.about-wrapper {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;

    flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
}
  .about-wrapper .img-wrapper {
    margin-right: 10px;
    margin-left: 10px;

    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;

    flex: 2 0 0;
    -webkit-flex: 2 0 0;
    -moz-flex: 2 0 0;
    -ms-flex: 2 0 0;
  }
  .about-wrapper div {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;

    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;

    flex: 1 0 0;
    -webkit-flex: 1 0 0;
    -moz-flex: 1 0 0;
    -ms-flex: 1 0 0;
  }
  .about-wrapper div p {
    margin-top: 0;
    padding-right: 10px;
    width: auto;
  }
.img-wrapper {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;

    align-items: flex-start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
}
  .img-wrapper img {
    display: inline-block;
    max-width: 100%;
    height: auto;
  }

.centering-wrapper p {
  margin-top: 1em;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
}
  .centering-wrapper p.faq {
    font-family: 'Apercu-Italic', 'Helvetica Neue', sans-serif;
  }
.centering-wrapper h3 {
  margin: 0;
}
.centering-wrapper h4 {
  font-family: 'Apercu','Helvetica Neue', sans-serif;
  font-size: 1.5em;
  color: #2c3e50;
  margin: 20px 0 0 0;
}
.centering-wrapper h5 {
  font-size: 0.9em;
  margin-top: 1em;
  -webkit-margin-after: 0;
  -webkit-margin-before: 1em;
  font-family: 'Apercu','Helvetica Neue', sans-serif;
  color: #2c3e50;
}

/* PRESS */
.press-wrapper {
  display: inline-block;
  margin: 10px 10px 10px 10px;
  min-width: 300px;
  max-width: 300px;
  position: relative;
}
  .press-wrapper-start {
    margin-left: 0;
  }
  .press-wrapper-end {
    margin-right: 0;
  }

img.press-sites {
  position: relative;
  width: 300px;
  min-width: 300px;
  border-radius: 4px;

  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;

  -webkit-box-shadow: 0px 0px 12px 0px rgba(50, 50, 50, 0.41);
  -moz-box-shadow:    0px 0px 12px 0px rgba(50, 50, 50, 0.41);
  box-shadow:         0px 0px 12px 0px rgba(50, 50, 50, 0.41);
}
.press-info {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  border-radius: 4px;

  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;

  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;

  text-align: center;
  color: white;
  font-size: 1em;
  font-family: 'Apercu', 'Helvetica Neue', sans-serif;
}
  img.press-sites:hover {
    cursor: pointer;
  }
  .press-wrapper:hover .press-info {
    cursor: pointer;

    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
  }

/* TAB */

.year-menu {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;

  font-size: 0.6em;
}
.year-menu p {
  margin-right: 25px;
  cursor: pointer;
}
  .year-menu p.underline {
    border-bottom: 1px solid black;
  }

.text-wrapper {
  position: relative;
  width: 100%;
  font-family: sans-serif;

  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
 
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
}
  .text-wrapper p {
    width: 100%;
  }
    .text-wrapper p img {
      width: 80%;
    }
  .text-wrapper .centering-wrapper {
    width: 80%;
  }
.content-wrapper {
  position: relative;
  width: 100%;
  font-family: sans-serif;
  font-size: 1.2em;

  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  
  justify-content: space-around;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;

}
  ul.requirements li {
    list-style-type: disc;
    font-size: .8em;
    margin-bottom: 5px;
  }


/* STUDENTS */ 

.grid-wrapper {
  position: relative;
  max-width: 80%;
  min-width: 970px;
  font-family: sans-serif;
  font-size: 1.5em;

  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;

  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;

  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;

  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
}
  .student-wrapper.press {
    max-width: 100%;
  }
.student {
  margin: 10px 0;
  width: 300px;

  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;

  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
}
.student-image {
  width: 300px;
  height: 300px;
}
  .student-image img {
    width: 100%;
  }
.student-title-info {
  width: 300px;
  height: 40px;
  background-color: white;
  padding-top: 10px;
  color: black;

  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;

  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
}
  .student-title-info p {
    margin: 0;
    padding: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
  }
.student-details {
  width: 300px;
  margin-top: -10px;
  margin-bottom: 30px;
  padding-top: 0;
  height: 200px;
}
  .student-details p {
    width: 280px;
    font-size: .4em;
  }

/* UPDATES & BLOG POTENTIAL STYLING */
.content-wrapper.update {
  max-width: 80%;

  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
}
.content.update {
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin-bottom: 45px;

  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;

  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
}
.content-image.update {
  background-size: auto 100%, auto;
  background-position:center; 
  background-repeat: no-repeat;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;

  flex: 1 0 0;
  -webkit-flex: 1 0 0;
  -moz-flex: 1 0 0;
  -ms-flex: 1 0 0;
}
  .content-image.update:hover {
    cursor: pointer;
  }
  .content-image img {
    width: 100%;
  }
    .content-image img:hover {
      width: 100%;
    }
.content-info-wrapper.update {
  margin-left: 15px;

  flex: 1 0 0;
  -webkit-flex: 1 0 0;
  -moz-flex: 1 0 0;
  -ms-flex: 1 0 0;
}
.content-details.flex-wrapper {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;

  flex: 1 0 0;
  -webkit-flex: 1 0 0;
  -moz-flex: 1 0 0;
  -ms-flex: 1 0 0;

  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
}
.content-details.update {
  width: 100%;
}
.content-details.update p {
  width: 100%;
  font-size: .4em;
}
.content-title-info.update {
  width: 100%;
}
  .content-title-info p.title {
    font-size: .8em;
    margin: 0;
    padding: 0;
  }
  .content-title-info p.date{
    font-size: .4em;
    margin: 0;
    padding: 0;
    margin-top: 10px;
  }
  .content-title-info p.date b{
    margin: 0;
    padding: 0;
    margin-top: 10px;
    color: rgb(3, 186, 211);
  }

/* CLASSES */
.content-wrapper.classes {
  max-width: 80%;
  color: #2c3e50;
  font-family: 'Apercu', 'Helvetica Neue', sans-serif;

  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
}
.content.classes {
  width: 100%;
  overflow: hidden;
  margin-bottom: 45px;

  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;

  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
}
.content.classes.flex-wrapper {
  width: 100%;
  overflow: hidden;
  margin-bottom: 45px;

  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;

  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
}
.content.classes.flex-wrapper:first-child {
  height: 300px;
  margin-bottom: 0;
}
.content-image.classes {
  background-size: auto 100%, auto;
  background-position:center; 
  background-repeat: no-repeat;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;

  flex: 2 0 0;
  -webkit-flex: 2 0 0;
  -moz-flex: 2 0 0;
  -ms-flex: 2 0 0;
}
  .content-image.classes:hover {
    cursor: pointer;
  }
  .content-image img {
    width: 100%;
  }
    .content-image img:hover {
      width: 100%;
    }
.content.classes.flex-wrapper .content-info-wrapper.classes {
  flex: 1 0 0;
  -webkit-flex: 1 0 0;
  -moz-flex: 1 0 0;
  -ms-flex: 1 0 0;

  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;

  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
}

.content.classes.flex-wrapper:first-child .content-info-wrapper.classes {
  display: block;
}
.content-details.classes {
  margin: 10px 20px 10px 0;
}
.content-details.classes p {
  width: 100%;
  font-size: .6em;
  margin: 10px 0;
}
.content-details.classes.participating-people {
  margin: 0;

  flex:1 0 0;
  -webkit-flex: 1 0 0;
  -moz-flex: 1 0 0;
  -ms-flex: 1 0 0;
}
  .content-details.classes.participating-people b {
    font-size: 0.6em;
  }
  .content-details.classes.participating-people.teachers { 
    order: 2;
    -webkit-order: 2;
    -moz-order: 2;
    -ms-order: 2;

  }
  .content-details.classes.participating-people.visitors { 
    order: 3;
    -webkit-order: 3;
    -moz-order: 3;
    -ms-order: 3;
  }

.content-details.classes.participating-people ul {
  font-size: 1em;
  list-style: none;
  margin: 0 10px 0 0;
  padding: 0;

  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;

  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}
  .content-details.classes.participating-people ul li {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 50%;

    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;

    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
  }
    .content-details.classes.participating-people ul li .profile-pic {
      min-width: 25px;
      min-height: 25px;
      max-width: 25px;
      max-height: 25px;
      background: lime;
      display: inline-block;
      float: left;
      margin: 0 8px 0 0;
      overflow: hidden;
    }
      .content-details.classes.participating-people ul li .profile-pic img {
        margin: 0;
        padding: 0;
        height: 25px;
      }
    .content-details.classes.participating-people ul li a {
      margin-right: 5px;
      text-decoration: none;
      font-size: 0.6em;
    }
      .content-details.classes.participating-people ul li a:hover {
        /*border-bottom: 1px solid #1ABC9C;*/
        text-decoration: underline;
        -moz-box-sizing: border-box; 
        -webkit-box-sizing: border-box; 
        box-sizing: border-box;
      }
  .content-details.classes.participating-people.courses ul li, .content-details.classes.participating-people.workshops ul li {
    font-size: 0.6em;
    margin: 0;
    padding: 0;
    width: 100%;
  }
.content-title-info.classes {
  height: 105px;
  margin-right: 10px;
}
  .content-title-info.classes p.title {
    font-size: 1em;
    margin: 0 0 10px 0;
    padding: 0;
  }
  .content-title-info.classes p.date{
    font-size: .6em;
    margin: 0;
    padding: 0;
    margin-top: 4px;
  }
  .content-title-info.classes p.date b{
    margin: 0;
    padding: 0;
    margin-top: 10px;
    color: #2c3e50; /* DARK BLUE */
  }

/* PROJECTS */

.project {
  margin:  0 0 30px 0;
  width: 300px;

  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;

  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-direction: column;
  -ms-direction: column;
}
.project-image {
  width: 100%;
  height: 170px;
  background-color: black;
  overflow: hidden;
}
  .project-image img {
    width: 100%;
  }
.project-title-info {
  width: 100%;
  background-color: white;
  color: #2c3e50;

  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;

  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;

  align-items: flex-start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
}
  .project-title-info p {
    font-family: 'Apercu','Helvetica Neue', sans-serif;
    margin-top: 0;
    padding: 0;
  }
    .project-title-info p:nth-child(1) {
      margin-top: 8px;
      font-size: .6em;
    }
    .project-title-info p:nth-child(2) {
      margin-top: 5px;
      font-size: .4em;
      color: black;
    }
    .project-title-info p:nth-child(3) {
      margin-top: 5px;
      font-size: .4em;
      color: black;
    }
      .project-title-info a {
        text-decoration: none;
      }
      .project-title-info a:hover {
        border-bottom: 1px solid #1ABC9C;

        -moz-box-sizing: border-box; 
        -webkit-box-sizing: border-box; 
        box-sizing: border-box;
      }
          .project-info {
            margin-top: 10px;
          }
.project-info-preview {
  width: 100%;
}
.project-info p {
  font-size: .5em;
  margin: 0;
  font-family: 'Apercu', 'Helvetica Neue', 'Arial', sans-serif;
}
.project-info p.notes {
  display: inline-block;
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

/* PEOPLE */

.grid-wrapper {
  position: relative;
  max-width: 80%;
  min-width: 970px;
  font-family: sans-serif;
  /*font-size: 1.5em;*/

  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;

  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;

  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;

  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
}
.people {
  margin:  0 0 30px 0;
  width: 300px;
  /*height: 100px;*/
  /*overflow: hidden;*/

  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;

  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
}
.people-image {
  max-width: 100px;
  min-width: 100px;
  max-height: 100px;
  min-height: 100px;
  background-color: black;
  position: relative;
}
  .people-image:hover {
    cursor: pointer;
  }
  .people-image img {
    width: 100%;
  }
.people-title-info {
  width: 100%;
  background-color: white;
  color: #2c3e50;

  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;

  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;

  align-items: flex-start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
}
  .people-title-info p {
    font-family: 'Apercu','Helvetica Neue', sans-serif;
    margin-top: 0;
    padding: 0;
  }
    .people-title-info p:nth-child(1) {
      color: #1ABC9C;
      margin: -2px 0 3px 8px;
      font-size: .6em;
    }
      .people-title-info p:nth-child(1) a {
        text-decoration: none;
      }
      .people-title-info p:nth-child(1) a:hover {
        text-decoration: underline;
      }
    .people-title-info p:nth-child(2), .people-title-info p:nth-child(3) {
      margin: 0 0 3px 8px;
      font-size: .4em;
      color: #2c3e50;
    }
          .people-info {
            margin: 0 0 0 8px;
          }
.people-info-preview {
  width: 100%;
}
.people-info p {
  font-size: .5em;
  margin: 0;
}
.people-info p.notes {
  display: inline-block;
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
  .people-info p.notes:hover {
    border-bottom: 1px solid gray;
    cursor: pointer;

    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
  }

/* PROFILE */
.profile-projects-grid-wrapper {
  width: 100%;
  background: red;

  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;

  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
}

.profile {
  margin:  0 0 30px 0;

  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;

  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;

  align-items: flex-end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
}
  .profile-flex-wrapper {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;

    flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
  }
  .profile-info-flex-wrapper {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;

    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;

    flex: 2 0 0;
    -webkit-flex: 2 0 0;
    -moz-flex: 2 0 0;
    -ms-flex: 2 0 0;
  }
  .profile-project-flex-wrapper-full-width {
    width: 100%;
  }
  .profile-project-flex-wrapper-responsive {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;

    flex: 2 0 0;
    -webkit-flex: 2 0 0;
    -moz-flex: 2 0 0;
    -ms-flex: 2 0 0;

    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
  }
    .profile-project-flex-wrapper p.project-header {
      font-size: .6em;
      margin-bottom: 10px;
    }
.profile-image {
  min-width: 300px;
  max-height: 300px;
  min-height: 300px;
  background-color: white;
  position: relative;

  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;

  flex: 1 0 0;
  -webkit-flex: 1 0 0;
  -moz-flex: 1 0 0;
  -ms-flex: 1 0 0;
}
  .profile-image p {
    width: 100%;
  }
  .profile-image img {
    width: 100%;
    max-width: 300px;
  }
.profile-title-info {
  width: 100%;
  background-color: white;
  color: black;

  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;

  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;

  align-items: flex-start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
}
  .profile-title-info p {
    font-family: 'Apercu','Helvetica Neue', sans-serif;
    margin-top: 0;
    padding: 0;
  }
    .profile-title-info p:nth-child(1) {
      margin: -2px 0 3px 8px;
      font-size: .75em;
    }
    .profile-title-info p:nth-child(2), .profile-title-info p:nth-child(3), .profile-title-info p:nth-child(4), .profile-title-info p:nth-child(5) {
      margin: 0 0 3px 8px;
      font-size: .4em;
      color: black;
    }
      .profile-title-info span {
        color: #2c3e50;
      }
        .profile-title-info a span {
          color: #1ABC9C;
          text-decoration: none;
        }
          .profile-info {
            margin: 0 0 0 8px;
          }
.profile-info-preview {
  width: 100%;
}
.profile-info p {
  font-size: .4em;
  margin: 20px 0;
}
.profile-info p.notes {
  display: inline-block;
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
  .profile-info p.notes:hover {
    border-bottom: 1px solid gray;
    cursor: pointer;

    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
  }

/* TOOLS */

.tools-title-info {
  font-size: .4em;

  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;

  flex-direction: row;
  flex-direction: row;
  flex-direction: row;
  flex-direction: row;

  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;

  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
}
  .tools-title-info p {
    margin-top: 5px;
  }
  .tools-title-info p:nth-child(1) {
  }
  .tools-title-info p:nth-child(2) {
    font-size: .9em;
  }
.tools-title-info p.download {
  width: 20px;
  height: 20px;
  background: red;
}


/* FOOTER */
footer {
  width: 100%;
  position: relative;
  z-index: 30;
  background-color: white;

  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;

  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;

  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;

  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
}
  footer div.flex-helper {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;

    flex: 1 0 0;
    -webkit-flex: 1 0 0;
    -moz-flex: 1 0 0;
    -ms-flex: 1 0 0;
  }
  .subscribe-module {
    min-width: 300px;
    max-width: 300px;
    font-family:'ApercuProRegular', 'Helvetica', sans-serif;

    align-items: flex-start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;

    flex: 3 0 0;
    -webkit-flex: 3 0 0;
    -moz-flex: 3 0 0;
    -ms-flex: 3 0 0;

    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;

    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
  }

    .subscribe-module .span6 {
      display: flex;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;

      flex: 1 0 0;
      -webkit-flex: 1 0 0;
      -moz-flex: 1 0 0;
      -ms-flex: 1 0 0;
    }
      .subscribe-module .span6  p {
        margin: 0;
      }
    .form-flex {
      margin: 0;
      width: 100%;

      display: flex;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;

      flex: 4 0 0;
      -webkit-flex: 4 0 0;
      -moz-flex: 4 0 0;
      -ms-flex: 4 0 0;

      
      flex-direction: row;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
    }
      .form-flex input.text {
        border: none;
        border-bottom: 1px solid black;
      }
        .form-flex div.flex-helper {
          display: flex;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;

          flex-direction: row;
          -webkit-flex-direction: row;
          -moz-flex-direction: row;
          -ms-flex-direction: row;
        }
          .form-flex div.flex-helper span {
            max-width: 40px;
            min-width: 40px;
            font-size: 0.8em;

            display: flex;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;

            flex: 2  0 0;
            -webkit-flex: 2  0 0;
            -moz-flex: 2  0 0;
            -ms-flex: 2  0 0;

            justify-content: flex-start;
            -webkit-justify-content: flex-start;
            -moz-justify-content: flex-start;
            -ms-justify-content: flex-start;

            align-items: center;
            -webkit-align-items: center;
            -moz-align-items: center;
            -ms-align-items: center;
          }
          .form-flex div.flex-helper input {
            display: flex;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;

            flex: 3  0 0;
            -webkit-flex: 3  0 0;
            -moz-flex: 3  0 0;
            -ms-flex: 3  0 0;
          }

      .form-flex input.btn {
        border: none;
        border: 1px solid black;
        background-color: white;
        cursor: pointer;
      }
      form.form-flex div.flex-helper.top {
        margin-right: 10px;

        display: flex;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;

        flex-direction: column;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        
        flex: 2 0 0;
        -webkit-flex: 2 0 0;
        -moz-flex: 2 0 0;
        -ms-flex: 2 0 0;
      }
      form.form-flex div.flex-helper.buttons {
        display: flex;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;

        flex-direction: column;
        -webkit-flex-direction: column;
        -mpz-flex-direction: column;
        -ms-flex-direction: column;
      }
  .social-icons-wrapper {
    max-width: 18%;
    min-width: 18%;
    min-height: 20px;
    max-height: 20px;
    margin-bottom: 10px;

    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;

    flex: 1 0 0;
    -webkit-flex: 1 0 0;
    -moz-flex: 1 0 0;
    -ms-flex: 1 0 0;

    flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;

    justify-content: space-between;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;

    align-items: flex-end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
  }
    .social-icon {
      position: relative;
      width: 20px;
      height: 20px;
      background: yellow;
      
      display: flex;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;

      justify-content: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;

      align-items: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
    }
      .social-icon i {
        color: gray;
        font-size: 1.2em;
      }
    .social-icons-wrapper p {
      font-size: .8em;
    }
  .contact-info-wrapper {
    font-family: sans-serif;
    margin-bottom: 10px;

    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;

    flex: 1 0 0;
    -webkit-flex: 1 0 0;
    -moz-flex: 1 0 0;
    -ms-flex: 1 0 0;

    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;

    align-items: flex-end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;

    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
  }
  .contact-info-wrapper div.space-between {
    font-size: 0.8em;
    width: 100%;

    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;

    flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;

    justify-content: space-between;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;

    flex: 1 0 0;
    -webkit-flex: 1 0 0;
    -moz-flex: 1 0 0;
    -ms-flex: 1 0 0;
  }
    .contact-info-wrapper div.space-between div {
      display: flex;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;

      justify-content: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;

      align-items: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
    }

/* ************* */
/* MEDIA QUERIES */
/* ************* */

@media (max-width: 1000px) {
  header section { min-width: 100%; max-width: 100%; }
  header h1 { margin: 10px; }
  header nav ul { 
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
  }
  nav li.dropdown.participate { min-width: 100px; max-width: 100px; }
  nav li.dropdown.participate:hover { min-width: 100px; max-width: 100px; }
  .current-tab .centering-wrapper { min-width: 100%; max-width: 100% }
  .year-menu p { margin: 0 25px 0 10px; }
  .centering-wrapper h3 { margin-left: 10px; }
  .text-wrapper .centering-wrapper { min-width: 100%; max-width: 100%; }
  .mission.p-wrapper:first-child p { margin: 0 10px 10px 10px; }
  .mission.p-wrapper p { margin: 0 10px 10px 0; }
  .faq.p-wrapper div:first-child { margin: 0 20px 0 10px; }
  .faq.p-wrapper div { margin: 0 10px 0 10px; }
  .student-wrapper { margin: 0 10px; min-width: 100%; max-width: 100%; }
  .grid-wrapper { margin: 0 10px; min-width: 100%; max-width: 100%; }
  .content-wrapper.classes { max-width: 100%; margin: 0 10px;}
  footer .centering-wrapper-row { min-width: 100%; max-width: 100%; }
  footer .subscribe-module { margin-left: 10px; }
  footer div.space-between div:first-child { margin-left: 10px; }
  footer div.space-between div:last-child { margin-right: 10px; }
  footer .social-icons-wrapper { margin-right: 10px; }
}

@media (max-width: 950px) {
  .student-wrapper { 
    justify-content: space-around;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
  }
  .grid-wrapper { 
    justify-content: space-around;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
  }
}

@media (max-width: 750px) {
  header { height: 100px;}
  header section { 
    flex-direction: column; 
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
  }
  header h1 { 
    flex: 1 0 0;
    -webkit-flex: 1 0 0;
    -moz-flex: 1 0 0;
    -ms-flex: 1 0 0;
  }
  header nav { 
    flex: 1 0 0;
    -webkit-flex: 1 0 0;
    -moz-flex: 1 0 0;
    -ms-flex: 1 0 0;
  }
  nav li.dropdown { padding-left: 10px; }
  p.intro-info.intro-1 { width: 80%; }
  .current-tab { margin-top: 100px; }
  .p-wrapper { 
    flex-direction: column;
    =webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
  }
  .mission.p-wrapper p { margin: 0 10px 10px 10px; }
  .faq.p-wrapper { 
    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
  }
  .faq.p-wrapper div { margin: 0 10px 0 10px; }
  .faq.p-wrapper div:first-child { margin: 0 20px 0 10px; }
  .faq.p-wrapper div:first-child > * { margin: 10px 0; }
  .student-wrapper { 
    max-width: 100%; 
    min-width: 100%; 
    justify-content: space-around;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
  }
  .grid-wrapper { 
    max-width: 100%; 
    min-width: 100%; 
    justify-content: space-around;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
  }
  .content.classes.flex-wrapper:first-child { 
    height: 450px; 

    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex; 

    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
  }
  .content.classes.flex-wrapper:first-child .content-info-wrapper.classes { 
    order: 2;
    -webkit-order: 2;
    -moz-order: 2;
    -ms-order: 2;
  }
  .content-image.classes { 
    flex: 1 0 0; 
    order: 1;
  }
  .content-title-info.classes { 
    margin: 10px 0 0 0;
  }
  .content.classes.flex-wrapper { 
    height: auto; 
    width: 100%;
  }
  .content.classes.flex-wrapper .content-info-wrapper.classes {
    width: 100%; 

    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;

    flex: 1 0 0; 
    -webkit-flex: 1 0 0; 
    -moz-flex: 1 0 0; 
    -ms-flex: 1 0 0; 

    flex-direction-row; 
    -webkit-flex-direction-row; 
    -moz-flex-direction-row; 
    -ms-flex-direction-row; 

    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
  }
  .content-details.classes.participating-people {
    width: 50%;

    flex: none; 
    -webkit-flex: none; 
    -moz-flex: none; 
    -ms-flex: none; 
  }
  .content-details.classes.participating-people.visitors {
    order: 2;
    -webkit-order: 2;
    -moz-order: 2;
    -ms-order: 2;
  }
  .content-details.classes.participating-people.teachers {
    order: 1;
    -webkit-order: 1;
    -moz-order: 1;
    -ms-order: 1;
  }
  .content-details.classes.participating-people.students { 
    width: 100%;
  }
  .content-details.classes.participating-people.workshops {}
  .content-details.classes.participating-people.courses {}
  .content-details.flex-wrapper { 
    width: 100%; 

    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex; 

    flex-direction: row;
    -webkit-flex-direction: row; 
    -moz-flex-direction: row; 
    -ms-flex-direction: row; 

    flex: auto;
    -webkit-flex: auto;
    -moz-flex: auto;
    -ms-flex: auto;

    order: 3; 
    -webkit-order: 3; 
    -moz-order: 3; 
    -ms-order: 3;
  }
  footer .social-icons-wrapper { margin: 30px 0 0 10px;}
  footer article.contact-info-wrapper { 
    justify-content: flex-start; 
    -webkit-justify-content: flex-start; 
    -moz-justify-content: flex-start; 
    -ms-justify-content: flex-start; 

    align-items: flex-start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
  }
  footer .contact-info-wrapper div.space-between { 
    flex-direction: column;
    flex-direction: column; 
    flex-direction: column; 
    flex-direction: column; 

    align-items: flex-start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
  }
  footer .social-icons-wrapper { margin: 40px 0 10px 10px; min-width: 120px;}
  footer .contact-info-wrapper div.space-between div { margin: 0 0 0 10px; height: 20px;}
}

@media (max-width: 640px) {
}

@media (max-width: 500px) {
  .content-details.classes.participating-people.teachers { width: 100%;}
  .content-details.classes.participating-people.visitors { width: 100%;}
}
