.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
_site

Gemfile.lock


_people/diana_s\303\241nchez.md
_people/guillermo-montecinos-pe\303\261a.md
static/img/people/diana_s\303\241nchez.jpg
static/img/people/guillermo_montecinos_pe\303\261a.jpg