permalink: pretty
plugins:
- jekyll-redirect-from
collections:
  people:
    output: true
    permalink: /people/:path/
  classes:
    output: true
    permalink: /classes/:path/
  faqs:
    output: false
defaults:
  -
    scope:
      path: ""
      type: "people"
    values:
      layout: "person"
