{{ template "chrome/header_slide.html" . }}

			<div class="clearfix">
					<div id="slideshow" style="width:700px;">
						
						<img src="static/slides/pushPixel.jpg" alt="Slideshow Image 1" class="active" />
						<img src="static/slides/circuit.jpg" alt="Slideshow Image 3" />
						<img src="static/slides/happyParsons.jpg" alt="Slideshow Image 4" />
						<img src="static/slides/code.jpg" alt="Slideshow Image 5" />
						
						
						<div class="overlay" style="display:block"> 
							
							<div class="pull-right" style="margin: 20px; padding: 10px; background-color: rgba(255,255,255,0.9); z-index: 100; max-width: 700px">
				<p class="lead"><b>school for poetic computation</b> is an artist run school launching this fall in New York.  A small group of students and faculty will work closely to explore the intersections of code, design, hardware and theory -- focusing especially on artistic intervention. It's a 10 week program, a hybrid of residency and research group, that will happen multiple times per year to be a powerboost for creativity. <em>Our motto is: more poetry, less demo.</em></p> 
				</div>
							
							
							
						</div>
					</div>
					
			</div>



				<div class="row-fluid marketing">
				<div class="span6">
					<h4>email list</h4>
					<p>join the email list for more info: 
					
					
<form method="post" action="http://scripts.dreamhost.com/add_list.cgi"> 
<input type="hidden" name="list" value="school" /> 
<input type="hidden" name="domain" value="sfpc.io" /> 
<input type="hidden" name="url" value="http://sfpc.io/subscribed.html" /> 
<input type="hidden" name="unsuburl" value="http://sfpc.io/unsubscribed.html" /> 
<input type="hidden" name="alreadyonurl" value="http://sfpc.io/alreadyon.html" /> 
<input type="hidden" name="notonurl" value="http://sfpc.io/notonurl.html" /> 
<input type="hidden" name="invalidurl" value="http://sfpc.io/invalidurl.html" /> 
<input type="hidden" name="emailconfirmurl" value="http://sfpc.io/emailconfirmed.html" /> 
<input type="hidden" name="emailit" value="1" /> 
Name: <input name="name" type="text" /><br/>
E-mail: <input name="email"  type="text" /><br /> 
<input type="submit" class="btn" name="submit" value="join" /> 
<input type="submit" class="btn" name="unsub" value="unsubscribe" /> 
</form>			
					
					
					
				</div>
				
				<div class="span6">
					<h4>twitter</h4>
					<p>follow us: <a href="http://twitter.com/sfpc_school"> @sfpc_school</a></p>
				</div>
			</div>


{{ template "chrome/footer.html" . }}
