
<div class="centering-wrapper-row">
  <article class="subscribe-module">
    <div class="span6">
      <h4>Join the email list for more info:<i class="fa fa-twitter"></i></h4>
      <!-- <p><b>Subscribe</b></p> -->
    </div>
    <form class="form-flex" method="post" action="http://scripts.dreamhost.com/add_list.cgi"> 
      <div class="flex-helper top">
        <input type="hidden" name="list" value="school" /> 
        <input type="hidden" name="domain" value="sfpc.io" /> 
        <input type="hidden" name="url" value="http://sfpc.io/subscribed.html" /> 
        <input type="hidden" name="unsuburl" value="http://sfpc.io/unsubscribed.html" /> 
        <input type="hidden" name="alreadyonurl" value="http://sfpc.io/alreadyon.html" /> 
        <input type="hidden" name="notonurl" value="http://sfpc.io/notonurl.html" /> 
        <input type="hidden" name="invalidurl" value="http://sfpc.io/invalidurl.html" /> 
        <input type="hidden" name="emailconfirmurl" value="http://sfpc.io/emailconfirmed.html" /> 
        <input type="hidden" name="emailit" value="1" /> 
        <div class="name flex-helper"><span>Name</span><input class="text" name="name" type="text" /></div>
        <div class="email flex-helper"><span>E-mail</span><input class="text" name="email"  type="text" /></div>
      </div>
      <div class="flex-helper buttons">
        <input type="submit" class="btn" name="submit" value="join" /> 
        <input type="submit" class="btn" name="unsub" value="unsubscribe"/> 
      </div>
    </form>
  </article>
  <!-- <p>Looking to get in touch? Email <a href="mailto:info@sfpc.io">info@sfpc.io</a> -->
</div>
<article class="centering-wrapper-row contact-info-wrapper">
  <article class="social-icons-wrapper">
    <div class="social-icon"><a target="_blank" href="https://twitter.com/sfpc_school"><i class="fa fa-twitter"></i></a></div>
    <div class="social-icon"><a target="_blank" href="https://github.com/SFPC"><i class="fa fa-github"></i></a></div>
    <div class="social-icon"><a target="_blank" href="http://www.flickr.com/groups/2322277@N21/"><i class="fa fa-flickr"></i></a></div>
    <div class="social-icon"><a target="_blank" href=""><i class="fa fa-vimeo-square"></i></a></div>
  </article>
  <div class="space-between">
    <div>Looking to get in touch? &nbsp;<a href="mailto:info@sfpc.io">info@sfpc.io</a></div>
    <div>155 Rivington St New York, NY 10002</div>
    <div>School for Poetic Computation 2014</div>
  </div>
</article>
