<div class="row">
<p>Join our email list for more info:</p>
<form method="post" action="http://scripts.dreamhost.com/add_list.cgi"> 
	<input type="hidden" name="list" value="school" /> 
	<input type="hidden" name="domain" value="sfpc.io" /> 
	<input type="hidden" name="url" value="http://sfpc.io/mailingList/subscribed.html" /> 
	<input type="hidden" name="unsuburl" value="http://sfpc.io/mailingList/unsubscribed.html" /> 
	<input type="hidden" name="alreadyonurl" value="http://sfpc.io/mailingList/alreadyon.html" /> 
	<input type="hidden" name="notonurl" value="http://sfpc.io/mailingList/notonurl.html" /> 
	<input type="hidden" name="invalidurl" value="http://sfpc.io/mailingList/invalidurl.html" /> 
	<input type="hidden" name="emailconfirmurl" value="http://sfpc.io/mailingList/emailconfirmed.html" /> 
	<input type="hidden" name="emailit" value="1" /> 
	<p>
		<input placeholder="Name" class="text" name="name" type="text" />
		<input placeholder="Email" class="text" name="email"  type="text" />
		<input type="submit" class="btn" name="submit" value="Subscribe">
	</p>
</form>
<div class="row">
	<p>Looking to get in touch? Email <a href="mailto:info@sfpc.io">info@sfpc.io</a></p>
	<p>155 Rivington St., Floor 4, New York, NY 10002</p>
</div>