<section class="top-bar">
  <h1 class="sfpc-logo">
    <a href="/index.html">
      School for Poetic Computation
      <!-- <img class="logotype" src="../img/icons/SFPC_full_logotype.svg"/> -->
    </a>
  </h1>

  <nav>
    <ul>
      <!-- <li class="home dropdown">
        <span class="home">
          <a class="home" href="index.html">Home</a>
        </span>
      </li> -->
      <li class="about dropdown">
          <span class="mission"> <a href="/mission/">Mission</a></span>
          <div>
              <a class="faq" href="/faq/">FAQ</a>
              <a class="press" href="/press/">Press</a>
              <a class="finances" target="_blank" href="https://github.com/SFPC/finance-and-administration">Finances</a>
          </div>
      </li>
      <li class="classes dropdown">
          <span class="classes"><a href="/classes/">Classes</a></span>
          <div>
              <a class="courses" href="/courses/">Courses</a>
              <a class="workshops" href="/workshops/">Workshops</a>
              <a class="lectures" href="/lectures/">Lectures</a>
          </div>
      </li>
      <li class="people-nav dropdown">
          <span class="people"><a href="/people/">People</a></span>
          <div>
              <a class="teachers-people" href="/projects/">Projects</a>
              <a class="student-people" href="/tools/">Tools</a>
          </div>
      </li>
      <li class="connect dropdown">
          <span class="blog"><a href="http://blog.sfpc.io" target="_blank">Blog</a></span>
          <div>
              <a class="flikr" target="_blank" href="https://www.flickr.com/groups/2322277@N21/">Flikr</a>
              <!-- <a class="forum" href="forum.html">Forum</a> -->
              <a class="github" target="_blank" href="https://github.com/SFPC">Github</a>
              <a class="friends" href="">Friends</a>
          </div>
      </li>
      <li class="participate dropdown">
          <span class="participate"><a href="/participate/">Participate</a></span>
          <div>
              <a href="/student_participant/">as a Student</a>
              <a href="/teacher_participant/">as a teacher</a>
              <a href="/provide_space/">as a Sponsor</a>
              <!-- <a href="provide_sponsorship.html">Provide Funding</a> -->
          </div>
      </li>
    <!-- take out this liquid template and hardcode the nav -->
    <!-- {% for p in site.pages %}
      {% if 'main-nav' == p.group %}
        <li>
          <a {% if page.url == p.url %} class="active" {% endif %} href="{{ p.url }}">
            {{ p.title }}
          </a>
        </li>
      {% endif %}
    {% endfor %} -->
      <!-- <li><a href="http://blog.sfpc.io">Blog ></a></li> -->
      <!-- <li><a href="http://sfpc.io/thefirstclass">Fall 2013 ></a></li> -->
    </ul>
  </nav>
</section>
