<nav>
	<div class="row">
		<div class="col-md-6 col-sm-6 col-xs-12">
			<div id="logo">
				<a href="/">
					<img src="/static/img/school.svg" role="img" alt="School for Poetic Computation Logo" />
				</a>
			</div>
		</div>
		<div class="col-md-2 col-sm-2 col-xs-4">
		<ul class="list-unstyled">
			<style>
/* 				@font-face {
			    font-family: 'times dot';
			    src: url('https://sfpc.io/cocoon/fonts/timesdotrom-webfont.ttf');
			    font-weight: normal;
			    font-style: normal;
				}
				#header nav a#cocoon{
					font-family: 'times dot';
					border:1px solid lime;
					font-weight: lighter;
					background:#bb905eb8; 
					padding: 0.125em 0 0.125em 0.25em; 
					margin-left:-0.25em; 
					text-decoration: underline !important; 
					text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; 
					color:#211060;
					text-shadow:none;transition: all .2s ease-out;
					transition: all .2s ease-out;
					-moz-transition: all .2s ease-out;
					ms-transition: all .2s ease-out;
					o-transition: all .2s ease-out;
				}
				#header nav a#cocoon:hover{
					color: transparent;text-shadow: 0 0 3px #1e6251;
					text-decoration: none !important;
				} */
			</style>
			<li><a id="cocoon" class="cocoon" href="/fall-2021/">Participate: Fall 2021</a></li>
			<li><a class="participate" href="/cocoon/">COCOON Summer 2021</a></li>  
		</ul>
		</div>
		<div class="col-md-2 col-sm-2 col-xs-4">
		<ul class="list-unstyled">
			
			<li><a class="mission" href="/mission/">Mission</a></li>
			<li><a class="people" href="/people/">People</a></li>	
			<li><a class="classes" href="/classes/">Classes</a></li> 
			<li><a class="press" href="/press/">Press</a></li>
			<li><a class="faq" href="/faq/">FAQ</a></li>
		</ul>
		</div>
		<div class="col-md-2 col-sm-2 col-xs-4">
			<ul class="list-unstyled">
				
				<li><a class="instagram" href="http://instagram.com/sfpc_nyc/" target="_blank">Instagram <i class="fa fa-instagram"></i></a></li>
				<li><a class="twitter" href="https://twitter.com/sfpc" target="_blank">Twitter <i class="fa fa-twitter"></i></a></li>
				<li><a class="newsletter" href="https://sfpc.us19.list-manage.com/subscribe?u=070bd4a31220e47b33905ed9f&id=22a6f8caf7" target="_blank">Newsletter <i class="fa fa-envelope"></i></a></li>
				<li><a class="blog" href="http://medium.com/sfpc">Blog </a></li>
				<li><a class="finances" target="_blank" href="https://github.com/SFPC/finance-and-administration">Finances <i class="fa fa-github"></i></a></li>
				 
			</ul>
		</div>
	</div>
</nav>
