<nav class="container">
	<div class="row">
	<div class="six columns">
		<ul>
			<li><a class="sfpc" href="/">School for Poetic Computation</a></li>
		</ul>
	</div>
	<div class="two columns">
	<ul>
			<li><a class="mission" href="/mission/">Mission</a></li>
			<li><a class="people" href="/people/">People</a></li>
			<li><a class="classes" href="/classes/">Classes</a></li>
			<li><a class="press" href="/press/">Press</a></li>
	</ul>
	</div>
	<div class="two columns">
	<ul>
			<li><a class="participate" href="/participate">Participate</a></li>
			<li><a class="faq" href="/faq/">FAQ</a></li>
	</ul>
	</div>
	<div class="two columns">
		<ul>
			<li><a class="github" href="https://twitter.com/sfpc" target="_blank">Twitter <i class="fa fa-twitter"></i></a></li>
			<li><a class="blog" href="http://blog.sfpc.io" target="_blank">Blog <i class="fa fa-tumblr"></i></a></li>
			<li><a class="finances" target="_blank" href="https://github.com/SFPC/finance-and-administration">Finances <i class="fa fa-github"></i></a></li>
			<li><a class="flickr" href="https://www.flickr.com/groups/2322277@N21/" target="_blank">Flickr <i class="fa fa-flickr"></i></a></li>
		</ul>
	</div>
	</div>
</nav>