<nav>
    <h2><a class="home" href="/">School&nbsp;for Poetic&nbsp;Computation</a></h2>
    <div class="group">
      <ul>
        <li><a class="mission" href="/mission/">Mission</a></li>
        <li><a class="faq" href="/faq/">FAQ</a></li>
        <li><a class="press" href="/press/">Press</a></li>
        <li><a class="finances" target="_blank" href="https://github.com/SFPC/finance-and-administration">Finances</a></li>
      </ul>
      <ul>
        <li><a class="classes" href="/classes/">Classes</a></li>
        <li><a class="courses" href="/courses/">Courses</a></li>
        <li><a class="workshops" href="/workshops/">Workshops</a></li>
        <li><a class="lectures" href="/lectures/">Lectures</a></li>
      </ul>
      <ul>
        <li><a class="people" href="/people/">People</a></li>
        <li><a class="projects" href="/projects/">Projects</a></li>
        <!-- <li><a class="student-people" href="/tools/">Tools</a></li> -->
      </ul>
      <ul>
        <li><a class="blog" href="http://blog.sfpc.io">Blog</a></li>
        <li><a class="flickr" href="https://www.flickr.com/groups/2322277@N21/">Flickr</a></li>
        <li><a class="github" href="https://github.com/SFPC">Github</a></li>
        <li><a class="friends" href="/friends">Friends</a></li>
      </ul>
      <ul>
        <li><a class="participate" href="/participate">Participate</a></li>
        <li><a href="/participate#student">as a Student</a></li>
        <li><a href="/participate#teacher">as a Teacher</a></li>
        <li><a href="/participate#sponsor">as a Sponsor</a></li>
      </ul>
    </div>
</nav>
