<div class="slider">
	{% for slide in page.slides %}
		<img src="{{ slide }}">
	{% endfor %}
</div>
<script src="//www.builtbyevolve.com/files/nerveSlider/jquery.nerveSlider.min.js"></script>
<link rel="stylesheet" href="//www.builtbyevolve.com/files/nerveSlider/nerveSlider.min.css">
<script>
$(document).ready(function(){
	$(".slider").nerveSlider({
		slideTransition: "fade",
		sliderHeightAdaptable: true,
		sliderResizable: true,
		showTimer: false,
		showPause: false,
		showDots: false,
		showArrows: false,
		sliderKeepAspectRatio: true
		});
  $(".slider").nextSlide();
});
</script>