<div class="slider">
	{% for slide in page.slides %}
	  {% if slide.image and slide.alt%}
	  <img src="{{ slide.image }}" alt="{{ slide.alt }}">
	  {% else %}
		<img src="{{ slide }}">
	  {% endif %}
	{% endfor %}
</div>
<script src="https://www.builtbyevolve.com/files/nerveSlider/jquery.nerveSlider.min.js"></script>
<link rel="stylesheet" href="https://www.builtbyevolve.com/files/nerveSlider/nerveSlider.min.css">
<script>
$(document).ready(function(){
	$(".slider").nerveSlider({
		slideTransition: "fade",
		sliderHeightAdaptable: true,
		sliderResizable: true,
		showTimer: false,
		showPause: false,
		showDots: false,
		showArrows: false,
		sliderKeepAspectRatio: true
		});
  $(".slider").nextSlide();
});
</script>
