.title {
  margin-top: 200px;
  width: 50%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
}

body {
  background: #191919;
  color: #ddd;

  font-family: 'Inconsolata', monospace;
}

section {
  padding: 25px 0 35px;
  background: #191919;
  color: #fff;
}

h1 {
  color: #fff;
  font-family: 'Cutive Mono', monospace;
  font-size: 40pt;
  text-shadow: 2px 2px #000;
  letter-spacing: -3px;
}

h1 small, h1 a, h1 a:hover { 
  font-size: 30pt;
  color: #fff ;
}

a {
  color: #aaa;
}

a:hover {
  color: #ccc;
}

.btn {
  background: #333;
  border: #ddd;
  color: #ddd;
  margin: 3px 0px;
}

.parallax-container {
  height: 500px;
  width: 100%;
}

pre, code {
  overflow: auto;
  background: #222;
  color: #eee;
  border: 1px solid #666;
}

pre code {
  word-wrap: normal;
  white-space: pre;
  border: none;
}

footer {
  background: #191919;
  padding: 30px 0 30px;
  text-align: center;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  color: #fff;
  text-decoration: underline;
}


section {
  padding: 100px 0px 120px;
}

#links a {
  margin:2px 0px;
}

#contributors, #contributors a {
  color: #ddd;
}
#contributors a:hover, #contributors h2{
  color: #fff;
}

#about h3 {
  margin-top: 0;
}

h3.quote {
  margin: 0px 20px;
  font-size: 1.4em;
}

/* wide screens: laptops etc */
@media (min-width: 1100px) {
  .container {
    width: 1100px;
  }
  #video {
    height: 500px;
    width: 1000px;
  }
}

/* medium width screens */
@media (max-width: 1100px) {
  #video {
    height: 400px;
    width: 700px;
  }
}

/* mobile */
@media (max-width: 800px) {
  #video {
    height: 300px;
    width: 400px;
  }
  .title {
    width: 100%;
    padding: 12px;
  }
  .title h1 { font-size: 24pt; margin:0px; }
  .title h1 small {font-size: 20pt;}
  #links h3 {
    margin-top: 50px;
  }
  #sfpc, #sfpc .col-md-4, #links, #contributors {
    text-align: center;
  }
}