---
---
body {
  position: relative;
}
strong { //average sans doesn't have a bold font :(
	font-family: "Apercu Bold", Helvetica, sans-serif;
}
img {
	max-width:100%;
}
nav {
	font-family: "Apercu Regular", Helvetica, sans-serif;
	h2 {
		margin-top: 0;
		font-family: "Apercu Bold", Helvetica, sans-serif;
		font-weight: bold;
		a {
			color: #000;
		}
	}
	a {
		text-decoration:none;
		display:block;
	}
}
#sfpc .sfpc, #mission .mission, #press .press, #classes .classes, #people .people, #participate .participate, #blog .blog {
	color: #000;
	font-family: "Apercu Bold", Helvetica, sans-serif;
	font-weight:bold;
}

.page-header {
	border-bottom: 0;
}

.jumbotron, .comtainer, .container-fluid {
	background-size: cover;
	min-height:80vh;
}
.overlay {
	display:block;
	background: rgba(255,255,255,.90);
	padding-top: 15px;
	padding-bottom: 15px;
}
.bigimg {
	padding-top:45px;
	padding-bottom:45px;
}
.twocol {
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
	-moz-column-gap: 30px;
	-webkit-column-gap: 30px;
	column-gap: 30px;
}
.threecol {
	-moz-column-count: 3;
	-webkit-column-count: 3;
	column-count: 3;
	-moz-column-gap: 30px;
	-webkit-column-gap: 30px;
	column-gap: 30px;
	blockquote {
		-webkit-column-break-inside:avoid;
		-moz-column-break-inside:avoid;
		column-break-inside:avoid;
	}
}

#toc {
	li.active a {
		font-weight:bold;
		font-family: "Apercu Bold", Helvetica, sans-serif;
		color:#000;
	}
	.toc-h3 a {
		padding-left:1em;
	}
	a {
		padding:0;
	}
}

#filters {
	text-align:center;
	margin-bottom: 15px;
	.btn-group {
		margin-bottom: 15px;
	}
	button {
		outline: 0;
	}

}

ul#people-grid {
	list-style-type:none;
	margin:0;
	padding:0;
	li {
		margin-bottom:15px;
	}
}

#classes .class {
	margin-bottom:45px;
	h2 {
		margin-top: 0;
	}
}
