@font-face {
    font-family: 'ApercuBold';
    src: url('apercubold.eot');
    src: url('apercubold.eot') format('embedded-opentype'),
         url('apercubold.woff') format('woff'),
         url('apercubold.ttf') format('truetype'),
         url('apercubold.svg#ApercuBold') format('svg');
}
