

        <div> <!-- container-narrow -->
        <hr>
        <footer id="footer">
            <!-- <p class="pull-right"><a href="#top">Back to top</a></p> -->

            <p class="pull-right">
                <a href="mailto:info@sfpc.io">
                <span class="label-success label" style="background:#DDD">
                    <i class="icon-g-white icon-g-envelope"></i>
                    &nbsp;&nbsp;info@sfpc.io
                </span>
                </a>

                <a href="http://twitter.com/sfpc_school">
                <span class="label-success label" style="background:#DDD">
                    <i class="icon-g-white icon-g-twitter-t"></i>
                    &nbsp;&nbsp;@sfpc_school
                </span>
                </a>
            </p>

        </footer>
        </div>

      </div>

  </body>

</html>
