<!doctype html>
<html>
  <head>
  <title>{{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    {{ template "chrome/includes.html" . }}
  </head>
  <body>
    

<div class="container-narrow">

    <div class="row" style="padding-bottom:40px;">

        <div class="span9">
           <h2>School for Poetic Computation</h2>
        </div>

        <ul class="span6 nav nav-pills pull-left">
        
          <li><a href="../index.html">Home</a></li>
          <li><a href="../about">About</a></li>
          <li><a href="../mission">Mission</a></li>
          <li><a href="../faq">FAQ</a></li>
           <li><a href="../visiting">Guests</a></li>
          <li><a href="../participate">Participate</a></li>
          <li><a href="http://blog.sfpc.io" target="_blank" rel="external">Blog&nbsp; ></a></li>

          <li><a href="http://sfpc.io/thefirstclass" target="_blank" rel="external">Fall 2013&nbsp; ></a></li>

        </ul>

       
      </div>

