    
	<!-- {{.Site.BaseUrl }} -->

	<link rel="stylesheet" href="{{.Site.BaseUrl }}/">	
    <link rel="stylesheet" href="{{.Site.BaseUrl }}/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{.Site.BaseUrl }}/static/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="{{.Site.BaseUrl }}/static/css/glyphicons.css">
    <link rel="stylesheet" href="{{.Site.BaseUrl }}/static/css/style.css">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{.Site.BaseUrl }}/static/js/jquery.columnizer.min.js"  charset="utf-8"></script>
  
	<script>
			$( function() {

				if ($(window).width() > 768){
				//$('#native').html($('#column').html());
				$('.columnize-me').columnize({ columns: 2 }
				  );
			     }
			});
	</script>


    <!-- -->
