---
layout: default
---
<div class="content-wrapper classes">
	<article class="content classes">
		<div class="content classes flex-wrapper">

			<div class="content-info-wrapper classes">
				<div class="content-title-info classes">
					<p class="title"><b>Spring 2014</b></p>
					<p class="date"><b>Session Dates</b> April 20 - May 15</p>
					<p class="date"><b>Location</b> 155 Rivington, Manhattan</p>
					<!-- <p class="date"><b>Exhibition</b> The Second Class</p> -->
				</div>
				<div class="content-details classes">
					<p>The Spring 2014 session runs for two weeks on the Lower East Side of NYC at Orbital. The two week intensive will be led by SFPC co-founders Zach Lieberman and Taeyoon Choi along with SFPC alumni Jonathan Dahan and Tega Brain. Teachers will be available to support participants through individual tutoring and collective brainstorming. Additionally, classes by Gabriella Levine, Kaho Abe, Lauren McCarthy, and Kyle McDonald will provide opportunities to dive into specific topic and methods.</p>
				</div>
			</div>
			<div class="content-image classes" style="background-image:url('/img/classes/sfpc_spring2014_group.jpg')">
			</div>
		</div>

		<div class="content classes flex-wrapper">
			<div class="content-info-wrapper classes">
				<div class="content-details flex-wrapper">
					<div class="content-details classes participating-people courses">
						<b>Courses</b>
						<ul>
							<li>Input/output</li>
							<li>Circuits and drawings</li>
							<li>Towards Poetic Sensing</li>
							<li>Biomimetic Design</li>
							<li>Social Hacking</li>
							<li>Speculative history of computing</li>
						</ul>
					</div>
					<div class="content-details classes participating-people workshops">
						<b>Workshops</b>
						<ul>
							<li>Mesh Network</li>
							<li>Drawing</li>
							<li>Command line magic</li>
							<li>Python</li>
						</ul>
					</div>
				</div>
				<div class="content-details classes participating-people teachers">
					<b>Teachers</b>
					<ul>
						<li><div class="profile-pic"><img src="/img//people/zach_lieberman.jpeg"></div><span>Zach Lieberman</span></li>
						<li><div class="profile-pic"><img src="/img/people/taeyoon_choi.jpeg"></div><span>Taeyoon Choi</span></li>
						<li><div class="profile-pic"><img src="/img/people/jonathan_dahan.png"></div><span>Jonathan Dahan</span></li>
						<li><div class="profile-pic"><img src="/img//people/tega_brain.png"></div><span>Tega Brain</span></li>
						<li><div class="profile-pic"><img src="/img/people/default.png"></div><span>Gabriella Levine</span></li>
						<li><div class="profile-pic"><img src="/img/people/lauren_mccarthy.png"></div><span>Lauren McCarthy</span></li>
						<li><div class="profile-pic"><img src="/img/people/kyle_mcdonald.png"></div><span>Kyle McDonald</span></li>
					</ul>
					<div class="content-details classes participating-people students">
						<b>Students</b>
						<ul>
							<li><div class="profile-pic"><img src="/img/people/alexzandi.jpg"></div><span>Alex Zandi</span></li>
							<li><div class="profile-pic"><img src="/img/people/default.png"></div><span>Alexander Porter</span></li>
							<li><div class="profile-pic"><img src="/img/people/default.png"></div><span>Daniel Wilson</span></li>
							<li><div class="profile-pic"><img src="/img/people/default.png"></div><span>Diana Sanchez</span></li>
							<li><div class="profile-pic"><img src="/img/people/hiroakiyamane.png"></div><span>Hiroaki Yamane</span></li>
							<li><div class="profile-pic"><img src="/img/people/hyojungseo.jpg"></div><span>Hyojung Seo</span></li>
							<li><div class="profile-pic"><img src="/img/people/ida_benedetto.png"></div><span>Ida Benedetto</span></li>
							<li><div class="profile-pic"><img src="/img/people/default.png"></div><span>Lee Tusman</span></li>
							<li><div class="profile-pic"><img src="/img/people/nathankoch.jpg"></div><span>Nathan Koch</span></li>
							<li><div class="profile-pic"><img src="/img/people/default.png"></div><span>Oscar Schwartz</span></li>
							<li><div class="profile-pic"><img src="/img/people/default.png"></div><span>Ryota Okawa</span></li>
							<li><div class="profile-pic"><img src="/img/people/default.png"></div><span>Scott Leinweber</span></li>
							<li><div class="profile-pic"><img src="/img/people/shobunbaile.jpg"></div><span>Shobun Baile</span></li>
							<li><div class="profile-pic"><img src="/img/people/firmreedtothong.jpg"></div><span>Tharit Firm Tothong</span></li>
							<li><div class="profile-pic"><img src="/img/people/default.png"></div><span>Zak Greene</span></li>
						</ul>
					</div>
				</div>

				<div class="content-details classes participating-people visitors">
					<b>Visitors</b>
					<ul>
						<li><div class="profile-pic"><img src="/img//people/default.png"></div><span>Lev Manovich</span></li>
						<li><div class="profile-pic"><img src="/img/people/default.png"></div><span>Becky Sterne</span></li>
						<li><div class="profile-pic"><img src="/img/people/default.png"></div><span>Phoenix Perry</span></li>
						<li><div class="profile-pic"><img src="/img//people/default.png"></div><span>Jer Thorp</span></li>
						<li><div class="profile-pic"><img src="/img/people/default.png"></div><span>Ben Rubin</span></li>
						<li><div class="profile-pic"><img src="/img/people/default.png"></div><span>Masashi Kawamura, Party</span></li>
						<li><div class="profile-pic"><img src="/img/people/default.png"></div><span>Kenneth Goldsmith</span></li>
					</ul>
				</div>
			</div>
		</div>
	</article>




	<article class="content classes">
		<div class="content classes flex-wrapper">

			<div class="content-info-wrapper classes">
				<div class="content-title-info classes">
					<p class="title"><b>Fall 2013</b></p>
					<p class="date"><b>Session Dates</b> Sep 2nd - Dec 21</p>
					<p class="date"><b>Location</b> 33 Flatbush, Brooklyn</p>
					<p class="date"><b>Exhibition</b> The First Class</p>
				</div>
				<div class="content-details classes">
					<p>This video provides a glimpse of the classes at School for poetic computation. Students are sharing their assignment: to make a game or a teaching tool to help understand binary numbers. This class was part of intensive two weeks program at the beginning of fall 2013 session. This class was part of intensive two weeks program at the beginning of fall 2013 session. This class was part of intensive two weeks program at the beginning of fall 2013 session.</p>
				</div>
			</div>
			<div class="content-image classes" style="background-image:url('/img/classes/sfpc_fall2013_group.jpg')">
			</div>
		</div>

		<div class="content classes flex-wrapper">
			<div class="content-info-wrapper classes">
				<div class="content-details flex-wrapper">
					<div class="content-details classes participating-people courses">
						<b>Courses</b>
						<ul>
							<li>Computer Vision & Image Processing</li>
							<li>Learning to Learn</li>
							<li>Art for Mathist</li>
							<li>Poetics of Circuitry</li>
							<li>Learning Curves</li>
							<li>Data Visualization</li>
							<li>Principles of Animation</li>
							<li>Principles of 3D</li>
							<li>Art of Walking</li>
						</ul>
					</div>
					<div class="content-details classes participating-people workshops">
						<b>Workshops</b>
						<ul>
							<li>Rasberry Pi & Node.js</li>
							<li>IR Camera with PS3 EYE</li>
							<li>ofxAudiUnit</li>
							<li>Git/Github</li>
							<li>Wi-fi Everything</li>
							<li>OpenFrameworks Basics</li>
							<li>Interaction of Color</li>
							<li>Python 101</li>
							<li>Intro to Node.js</li>
						</ul>
					</div>
				</div>
				<div class="content-details classes participating-people teachers">
					<b>Teachers</b>
					<ul>
						<li><div class="profile-pic"><img src="/img/people/zach_lieberman.jpeg"></div><span>Zach Lieberman</span></li>
						<li><div class="profile-pic"><img src="/img/people/jen_lowe.jpeg"></div><span>Jen Lowe</span></li>
						<li><div class="profile-pic"><img src="/img/people/taeyoon_choi.jpeg"></div><span>Taeyoon Choi</span></li>
						<li><div class="profile-pic"><img src="/img/people/amit_pitaru.jpg"></div><span>Amit Pitaru</span></li>
					</ul>
					<div class="content-details classes participating-people students">
						<b>Students</b>
						<ul>
							<li><div class="profile-pic"><img src="/img/people/simona_derosa.png"></div><span>Simona De Rosa</span></li>
							<li><div class="profile-pic"><img src="/img/people/ishac_bertran.png"></div><span>Ishac Bertran</span></li>
							<li><div class="profile-pic"><img src="/img/people/moises_sanabria.png"></div><span>Moises Sanabria</span></li>
							<li><div class="profile-pic"><img src="/img/people/claire_lin.png"></div><span>Claire Lin</span></li>
							<li><div class="profile-pic"><img src="/img/people/le_wei.png"></div><span>Le Wei</span></li>
							<li><div class="profile-pic"><img src="/img/people/jonathan_dahan.png"></div><span>Jonathan Dahan</span></li>
							<li><div class="profile-pic"><img src="/img/people/mini_kim.png"></div><span>Mini Kim</span></li>
							<li><div class="profile-pic"><img src="/img/people/andy_clymer.png"></div><span>Andy Clymer</span></li>
							<li><div class="profile-pic"><img src="/img/people/jonathan_wohl.png"></div><span>Jonathan Wohl</span></li>
							<li><div class="profile-pic"><img src="/img/people/rachel_uwa.png"></div><span>Rachel Uwa</span></li>
							<li><div class="profile-pic"><img src="/img/people/paul_cheng.png"></div><span>Peng Chen</span></li>
							<li><div class="profile-pic"><img src="/img/people/jason_levine.png"></div><span>Jason Levine</span></li>
							<li><div class="profile-pic"><img src="/img/people/motoi_shimizu.png"></div><span>Motoi Shimizu</span></li>
							<li><div class="profile-pic"><img src="/img/people/jesse_wolpert.png"></div><span>Jessica Wolpert</span></li>
							<li><div class="profile-pic"><img src="/img/people/tega_brain.png"></div><span>Tega Brain</span></li>
						</ul>
					</div>
				</div>

				<div class="content-details classes participating-people visitors">
					<b>Visitors</b>
					<ul>
						<li><div class="profile-pic"><img src="/img/people/jacob_tonski.png"></div><span>Jacob Tonsky</span></li>
						<li><div class="profile-pic"><img src="/img/people/ramsey_nasser.png"></div><span>Ramsey Nasser</span></li>
						<li><div class="profile-pic"><img src="/img/people/bret_victor.png"></div><span>Bret Victor</span></li>
						<li><div class="profile-pic"><img src="/img/people/adam_magyar.png"></div><span>Adam Magyar</span></li>
						<li><div class="profile-pic"><img src="/img/people/dan_phiffer.png"></div><span>Dan Phiffer</span></li>
						<li><div class="profile-pic"><img src="/img/people/cedrick_kiefer.png"></div><span>Cedric Kiefer</span></li>
						<li><div class="profile-pic"><img src="/img/people/jacob_gaboury.png"></div><span>Jacob Gaboury</span></li>
						<li><div class="profile-pic"><img src="/img/people/kyle_mcdonald.png"></div><span>Kyle McDonald</span></li>
						<li><div class="profile-pic"><img src="/img/people/brian_droitcour.png"></div><span>Brian Droicour</span></li>
						<li><div class="profile-pic"><img src="/img/people/brian_house.png"></div><span>Brian House</span></li>
						<li><div class="profile-pic"><img src="/img/people/zach_gage.png"></div><span>Zach Gage</span></li>
						<li><div class="profile-pic"><img src="/img/people/jurg_lehni.png"></div><span>Jurg Lehni</span></li>
						<li><div class="profile-pic"><img src="/img/people/christine_sun_kim.png"></div><span>Christine Sun Kim</span></li>
						<li><div class="profile-pic"><img src="/img/people/paola_antonelli.png"></div><span>Paola Antonelli</span></li>
						<li><div class="profile-pic"><img src="/img/people/syd_lieberman.png"></div><span>Syd Lieberman</span></li>
					</ul>
				</div>
			</div>
		</div>
	</article>
</div>
