<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% if page.title %}{{page.title}} | {% endif %}School for Poetic Computation</title>
		{% if page.background %}<meta property="og:image" content="{{page.background}}" />{% endif %}
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700'>
		<link rel="stylesheet" href="/static/css/bootstrap.min.css" >
		<link rel="stylesheet" href="/static/css/style.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" >
		<script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script defer src="/static/js/bootstrap.min.js"></script>
	</head>
	<body id="{% if page.collection %}{{page.collection}}{% else %}{{ page.title | downcase | replace: " ", "" }}{% endif %}"  {% if page.toc %}data-spy="scroll" data-target="#toc"{% endif %}>
		<div class="container">
			<header id="header" class="page-header">
				{% include nav.html %}
			</header>
			<section class="content">
				{{content}}
			</section>	
			<footer id="footer">
				{% include footer.html %}
			</footer>
		</div>

</body>
</html>