---
layout: default
---
<div class="container">
	<div class="row">
		<section id="toc" class="col-md-6 col-md-push-6"><nav data-spy="affix" data-offset-top="15"></nav></section>
		<section id="content" class="col-md-6  col-md-pull-6">
			{% assign count = site.faqs | size %}
			{% for i in (1..count) reversed %}
				{% for faq in site.faqs %}
					{% if i == faq.order %}
						<section class="faq-section">
						<h2>{{ faq.title }}</h2>
						{{ faq.content }}
						</section>
					{% endif %}
				{% endfor %}
			{% endfor %}
		</section>
	</div>
</div>
<script type="text/javascript" src="/static/js/toc.min.js"></script>
<script>
	$('#toc nav').toc();
</script>