---
layout: default
---

<div class="grid-wrapper">
	<article class="student">
		<div class="student-image organization">
			<a target="_blank" href="http://www.openframeworks.cc/"><img class="organizations" src="/img/network/openFrameworks_logo.jpg"/></a>
		</div>
		<div class="student-details organization">
			<p>openFrameworks is an open source C++ toolkit for creative coding.</p>
		</div>
	</article>
	<article class="student">
		<div class="student-image organization">
			<a target="_blank" href="http://kitchentablecoders.com/"><img class="organizations" src="/img/network/ktc_logo.png"/></a>
		</div>
		<div class="student-details organization">
			<p>Workshops on the craft of creative coding in all its forms.</p>
		</div>
	</article>
	<article class="student">
		<div class="student-image organization">
			<a target="_blank" href="http://apap.or.kr/en/makinglab"><img class="organizations" src="/img/network/korean_making_lab.png"/></a>
		</div>
		<div class="student-details organization">
			<p>Workshops on the craft of creative coding in all its forms</p>
		</div>
	</article>
	<article class="student">
		<div class="student-image organization">
			<a target="_blank" href="https://eyebeam.org"><img class="organizations" src="/img/network/eyebeam.png"/></a>
		</div>
		<div class="student-details organization">
			<p>Eyebeam is the leading not-for-profit art and technology center in the United States.</p>
		</div>
	</article>
</div>
