---
layout: default
---
<section class="current-tab">
	<div class="centering-wrapper">
		<h3>{{page.title}}</h3>
		{{content}}
	</div>
</section>

<section class="content-wrapper">
	<div class="grid-wrapper">
<!-- bring the variable to this page = people -->
{% assign selectedgroup = page.selectedgroup %}

<!-- loop through everypage on the site
only create an article if its people -->
{% for page in site.pages %}
	{% if selectedgroup == page.group %}
		<article class="people">
			<div class="people-image">
			<!-- if makes things not render -->
			{% if page.picture %}
				<img src="{{page.picture}}" />
			{% else %}
				<img src="/img/people/default.png" />
			{% endif %}
			</div>
			<div class="people-flex-wrapper">
				<div class="people-title-info">
					<p><b>{{page.title}}</b></p>

					<!-- second loop -->
					{% for affiliation in page.affiliation %}
						<p>Roles <b><span class="teacher-title">{{affiliation.role}}</b></p>
						<p>Class <b><span class="teacher-title">{{affiliation.class}}</b></p>
					{% endfor %}
				</div>
				<div class="people-info">
					<p>{{page.content | truncate: 70}}</p>
					</p>
				</div>
			</div>
		</article>
	{% endif %}
{% endfor %}
</div>
</section>
