---
layout: default
---
<div class="jumbotron" {% if page.background %}style="background-image:url('{{ page.background }}');"{% endif %}>
	<div class="row">
		<div class="col-md-8 col-md-offset-2 overlay solidOverlay">
			{{content}}
		</div>
	</div>
</div>

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@sfpc">
<meta name="twitter:title" content="{{page.title}} | School for Poetic Computation">
<meta name="twitter:description" content="{{content}}">
<meta name="twitter:image:src" content="http://sfpc.io{{page.background}}">