---
layout: default
---
<div class="jumbotron" style="overflow:hidden;position:relative">
	<img src="{{page.background}}" style="position:absolute;pointer-events:none;top:-60px;left:-60px;height:90vh;max-width:none" alt="" />
	<div class="row">
		<div class="col-md-8 col-md-offset-2 overlay solidOverlay">
			{{content}}
		</div>
	</div>
</div>

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@sfpc">
<meta name="twitter:title" content="{{page.title}} | School for Poetic Computation">
<meta name="twitter:description" content="{{content}}">
<meta name="twitter:image:src" content="http://sfpc.io{{page.background}}">
