---
layout: default
---
<div class="row">
	<div class="col-md-10">
		{{content}}
	</div>

</div>

<div class="row" style="padding-bottom:20px;">
	<div class="col-md-12">
	{% include slider.html %}
	</div>
</div>

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@sfpc">
<meta name="twitter:title" content="{{ title | default: 'Participate' }} | {{ site.title }}">
<meta name="twitter:description" content="{{ site.description }}">
<meta name="twitter:image:src" content="http://sfpc.io/static/img/participate/door.jpg">