---
layout: default
---
<div class="row">
	<div class="col-md-8">
		{{content}}
	</div>
	<div class="col-md-4">
		...
	</div>
</div>
<div class="fourcol bigimg" {% if page.background %}style="background-image:url('{{ page.background }}');"{% endif %}>
	{% for testimonials in site.data.testimonials %}
		<blockquote class="overlay">
			<p>{{ testimonials.name }}</p>
			<p class="source">—<a href="{{ participate2.url }}">{{ testimonials.testimonial }}</a></p>
		</blockquote>
	{% endfor %}
</div>

<div class="row" style="padding-bottom:20px;">
	<div class="col-md-12">
	{% include slider.html %}
	</div>
</div>

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@sfpc">
<meta name="twitter:title" content="Participate | School for Poetic Computation">
<meta name="twitter:description" content="School for Poetic Computation (SFPC), based in NYC, is a hybrid of school, artist residency and research group where students develop a deep curiosity of what it means to work poetically in computational media.">
<meta name="twitter:image:src" content="http://sfpc.io/static/img/participate/bagels.jpg">