---
layout: default
---
<div class="row">
{% if content %}
	<section class="col-md-6  col-sm-6">
		<h1>{{ page.title }}</h1>
		{{content}}
		{% assign projects = site.projects | where: "artist", page.slug %}
		{% if projects != '' %}
		<h3>Projects</h3>
		{% for project in projects %}
			{% include project.html project=project %}
		{% endfor %}
		{% endif %}
	</section>
{% endif %}
	<section class="info col-md-4 col-md-offset-1 col-sm-6">
		<img src="{{site.baseurl}}/static/img/{{ page.id }}.jpg" alt="{{ page.title }}"/>

		<table class="table">
		<tr>
			<th colspan="2">SFPC CV</th>
		</tr>
		{% for affiliation in page.affiliation reversed %}
			<tr>
				<td>{{affiliation.class}}</td>
				<td>{{affiliation.role}}</td>
			</tr>
		{% endfor %}
		</table>

		<table class="table">
		<tr>
			<th colspan="2">Info</th>
		</tr>
		{% if page.website %}
			<tr>
				<td><i class="fa fa-globe"></i> Website</td>
				<td><a href="{{page.website}}">{{page.website}}</a></td>
			</tr>
		{% endif %}

		{% if page.twitter %}
			<tr>
				<td><i class="fa fa-twitter"></i> Twitter</td>
				<td><a href="http://twitter.com/{{page.twitter}}"> @{{page.twitter}}</a></td>
			</tr>
		{% endif %}

		{% if page.github %}
			<tr>
				<td><i class="fa fa-github"></i> Github</td>
				<td><a href="http://github.com/{{page.github}}">{{page.github}}</a></td>
			</tr>
		{% endif %}

		{% if page.instagram %}
			<tr>
				<td><i class="fa fa-instagram"></i> Instagram</td>
				<td><a href="http://instagram.com/{{page.instagram}}">{{page.instagram}}</a></td>
			</tr>
		{% endif %}

		{% if page.place %}
			<tr>
				<td><i class="fa fa-home"></i> Location</td>
				<td>{{page.place}}</td>
			</tr>
		{% endif %}
		</table>
	</section>
</div>
