---
layout: default
---

<img src="{{site.baseurl}}/img/people/{{ page.title | downcase | replace: " ", "_" }}.jpg"/>

<table>
<tr>
	<th colspan="2">SFPC CV</th>
</tr>
{% for affiliation in page.affiliation reversed %}
	<tr>
		<td>{{affiliation.class}}</td>
		<th>{{affiliation.role}}</th>
	</tr>
{% endfor %}
</table>

<table>
<tr>
	<th colspan="2">Info</th>
</tr>
{% if page.website %}
	<tr>
		<td><i class="fa fa-globe"></i> Website</td>
		<td><a href="{{page.website}}">{{page.website}}</a></td>
	</tr>
{% endif %}

{% if page.twitter %}
	<tr>
		<td><i class="fa fa-twitter"></i> Twitter</td>
		<td><a href="http://twitter.com/{{page.twitter}}"> @{{page.twitter}}</a></td>
	</tr>
{% endif %}

{% if page.github %}
	<tr>
		<td><i class="fa fa-github"></i> Github</td>
		<td><a href="http://twitter.com/{{page.github}}">{{page.github}}</a></td>
	</tr>
{% endif %}

{% if page.place %}
	<tr>
		<td><i class="fa fa-home"></i> Location</td>
		<td>{{page.place}}</td>
	</tr>
{% endif %}
</table>

{% if content %}
	<p>{{content}}</p>
{% endif %}