---
layout: default
---
<section class="current-tab">
	<div class="centering-wrapper">
		<h3>{{page.title}}</h3>
		{{content}}
	</div>
</section>

<section class="text-wrapper"> 
	<div class="grid-wrapper press">
		<div class="press-wrapper press-wrapper-start">
			<img class="press-sites" src="/img/assets/images/press/press_nytimes.png"/>
			<a target="_blank" href="http://bits.blogs.nytimes.com/2013/08/12/code-to-joy-the-school-for-poetic-computation-opens/?_php=true&_type=blogs&_r=0">
				<div class="press-info">"Imagine the Robin Williams character from the movie “Dead Poets Society” teaching Objective C instead"</div>
			</a>
		</div>

		<div class="press-wrapper">
			<img class="press-sites" src="/img/assets/images/press/press_creative_applications.png"/>
			<a target="_blank" href="http://www.creativeapplications.net/events/the-first-class-school-for-poetic-computation-sfpc/">
				<div class="press-info">"This is a school for the creative writing of code"</div>
			</a>
		</div>

		<div class="press-wrapper press-wrapper-end">
			<img class="press-sites" src="/img/assets/images/press/press_creative_applications_2.png"/>
			<a target="_blank" href="http://www.creativeapplications.net/profile/talking-poetry-and-pedagogy-with-the-sfpc-team/">
				<div class="press-info">"Hopefully what we make at School for poetic computation is for people, not computers."</div>
			</a>
		</div>
	</div>
</section>