<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/static/css/style.css">
		<title>{% if page.title %}{{page.title}} | {% endif %}School for Poetic Computation</title>
	</head>
	<body id="{% if page.collection %}{{page.collection}}{% else %}{{ page.title | downcase | replace: " ", "" }}{% endif %}">
	<header class="u-full-width">
		{% include nav.html %}
	</header>
	<section class="content u-full-width">
		<article class="container">
			{{content}}
		</article>
	</section>	
	<footer class="u-full-width">
	<div class="container">
		{% include footer.html %}
	</div>
	</footer>
	<script type="text/java
	script">
	WebFontConfig = { fontdeck: { id: '39609' } };

	(function() {
	  var wf = document.createElement('script');
	  wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
	  '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
	  wf.type = 'text/javascript';
	  wf.async = 'true';
	  var s = document.getElementsByTagName('script')[0];
	  s.parentNode.insertBefore(wf, s);
	})();
	</script>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
	<script src="/static/js/jquery-ui.min.js"></script>

		

		<link rel="stylesheet" href="/static/css/nerveSlider.css">
		<script src="/static/js/jquery.nerveSlider.min.js"></script>
		<script>
		$(document).ready(function(){
		$(".slideshow").nerveSlider({
		slideTransitionSpeed: 5000,
		slideTransitionDelay: 5000,
		slideTransitionEasing: "easeOutExpo",
		slideTransition: "fade",
		showDots: false, 
		showTimer: false,
		showCaptions: false,
		showArrows: false
		});
		});
		</script>
</body>
</html>